.steps {
  display: flex;
  padding-top: 1rem;
}

.step {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.step-progress {
  position: relative;
  width: 100%;
  height: 0.25rem;
}

.step-progress-start,
.step-progress-end {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 0.125rem;
  margin-top: -0.0625rem;
  overflow: hidden;
}
.step-progress-start::before,
.step-progress-end::before {
  display: block;
  width: 62rem;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23b6b1c0' stroke-width='4' stroke-dasharray='2%2c 18' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
  content: "";
}

.step-progress-start {
  left: 0;
}

.step-progress-end {
  left: 50%;
}

.step:first-child .step-progress .step-progress-start {
  display: none;
}

.step:last-child .step-progress .step-progress-end {
  display: none;
}

.step-number {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 50%;
  background: #fff;
  color: #666276;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08), 0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
  line-height: 2rem;
}

.step-label {
  padding-top: 1.5rem;
  color: #000000;
  font-size: 0.90rem;
}

.step.active .step-progress .step-progress-start,
.step.active .step-progress .step-progress-end {
  height: 0.25rem;
  background-color: rgba(226, 241, 255);
}
.step.active .step-progress .step-progress-start::before,
.step.active .step-progress .step-progress-end::before {
  display: none;
}
.step.active .step-number {
  background-color: rgba(226, 241, 255);
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem -0.375rem rgba(0, 0, 0, 0.2), 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
}

.steps.steps-vertical {
  flex-direction: column;
}
.steps.steps-vertical .step {
  display: flex;
}
.steps.steps-vertical .step.active .step-progress .step-progress-end {
  width: 0.25rem;
  height: 100%;
}
.steps.steps-vertical .step:last-child .step-label {
  margin-bottom: initial;
}
.steps.steps-vertical .step-progress {
  flex-shrink: 0;
  width: 2rem;
  height: auto;
}
.steps.steps-vertical .step-progress-start {
  display: none;
}
.steps.steps-vertical .step-progress-end {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.125rem;
  height: 100%;
  transform: translateX(-50%);
}
.steps.steps-vertical .step-progress-end::before {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23b6b1c0' stroke-width='4' stroke-dasharray='2%2c 12' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
  background-size: 25px;
}
.steps.steps-vertical .step-number {
  position: relative;
  top: initial;
  left: initial;
  margin-top: -0.125rem;
  margin-left: initial;
}
.steps.steps-vertical .step-label {
  margin-top: -0.125rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
  padding-top: initial;
  font-size: 1rem;
  text-align: left;
}
@media (max-width: 767.98px) {
  .steps.steps-vertical .step-label {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }
}
.steps.steps-vertical.steps-light .step:not(.active) .step-progress-end::before {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='4' stroke-dasharray='2%2c 12' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
}
.steps.steps-vertical.steps-light .step:not(.active) .step-number.bg-primary {
  box-shadow: 0 0.25rem 0.75rem -0.375rem rgba(253, 86, 49, 0.2), 0 0.5rem 1rem rgba(253, 86, 49, 0.16);
}

.steps-light .step:not(.active) .step-progress-start::before,
.steps-light .step:not(.active) .step-progress-end::before {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='4' stroke-dasharray='2%2c 18' stroke-dashoffset='8' stroke-linecap='butt'/%3e%3c/svg%3e");
}
.steps-light .step:not(.active) .step-number {
  background-color: #353142;
  color: #fff;
  box-shadow: none;
}
.steps-light .step.active .step-number {
  box-shadow: none;
}
.steps-light .step-label {
  color: rgba(255, 255, 255, 0.7);
}

a.step:hover .step-number:not(.active) {
  background-color: #754FFE;
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem -0.375rem rgba(253, 86, 49, 0.2), 0 0.5rem 1rem rgba(253, 86, 49, 0.16);
}
a.step.active {
  pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  ::-webkit-scrollbar-thumb {
  background: #888; 
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
}