.input-readonly{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 16px;
}

.card-input {
    padding: 10px;
    border: 1px solid #ccc;
}

.disable{
	pointer-events:none;
	opacity: 0.4;
}

nav.main-header.main-header-seminar.navbar.navbar-expand.navbar-lightgray.navbar-light {
    margin-left: 0px;
}

footer.main-footer {
    margin-left: 0px !important;
    margin-top: 20px;
}

.input-group-prepend.bg-primary.input-label {
    min-width: 160px;
}

.nav-hr-border{
	height: 1px;
	color: #333;
	background-color: #333;
}

.account-hr-border{
	height: 1px;
	color: #1f2e55;
	background-color: #1f2e55;
}

.page-hr-border{
	height: 2px;
	color:#1f2e55;
	background-color:#1f2e55;
}

label.page-title {
    margin-bottom: 20px;
}

label.page-row-title {
    margin-bottom: 20px;
	margin-top: 20px;
}
/*
.bg-primary {
    background-color: #1f2e55!important;
}
.btn-primary {
    color: #fff !important;
    background-color: #1f2e55 !important;
    border-color: #1f2e55 !important;
    box-shadow: none;
}

.btn-outline-primary {
    color: #1f2e55 !important;
    border-color: #1f2e55 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #1f2e55 !important;
    border-color: #1f2e55 !important;
}

.text-primary{
	color: #1f2e55 !important;
}
.invalid-feedback{
	text-align: right;
}

.border-primary {
    border-color: #1f2e55!important;
}

.card.seminar-card.border-primary {
    border: 2px solid;
    border-radius: 15px;
}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*input.form-control {
    border-radius: 5px !important;
}*/

/*.brand-logo img.brand-image {
    width: 100%;
}*/